:root {
    --main-color: #A62921;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
  
  /* Global styles */
  body::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #A62921;
  }
  
  html {
    font-family: 'Poppins';
    scroll-behavior: smooth;
    font-size: 16px;
    #hero-section{
        background: url(images/be_the_pic.webp);
            height: 100vh;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    }
    body{
        margin: 0 !important;
        padding: 0 !important;
    }
    
  
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #A42C25;
        padding-right: 2em;
        img{
            transition: transform .7s ease-in-out;
        }
        img:hover {
            transform: rotate(360deg);
          }
        nav{
            justify-content:space-around;
            ul{
                display: flex;
                justify-content: space-between;
                li{
                    list-style: none;
                    margin-left: 1em;
                    margin-right: 1em;
                    a{
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        font-size: large;
                    }
                    a:hover{
                        // color:#5f0ef5;
                        // background-color: rgba(#5f0ef5, .8);
                        border-bottom: 3px solid white;
                        // font-size:larger ;
                        transition-duration: .2s;
                        padding-bottom: 3px;
                    }
                }
            }
        }
    }
    .ra_logo_fr {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        margin-left: 1em;
        margin-top: 1em;
    }
  
    .hero-img {
      margin: 0 !important;
      padding: 0 !important;
      height: 100vh;
    
      img {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 101vh;
        
      }
    }

    .hero-text{
        width: 50%;
        color: white;
        margin: 0;
        padding: 0;
        font-size: 3em;
        transform: translate(1em, 2.5em);
        // padding-left: 1em;
        // padding-top: 2.5em;
        rotate: 345deg;
    }
  
    #about {
        text-align: center;
        padding-top: 5em;
      .wrapper {
        display: flex;
        padding: 1em;
        align-items: center;
        justify-content: center;
        .campus-pic{
            flex: 1;
            img{
                max-width: 100%;
            }  
            margin-right: 2em;
        }
        .campus-description{
            flex: 1;
            p{
                margin-bottom: 0;
                margin-top: 0;
            }
        }
      }
    }
  }
  