:root {
        --main-color: #A62921;
      }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* Global styles */
body::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #A62921;
  }

  html{
    font-family: 'Poppins';
    scroll-behavior: smooth;
    font-size: 16px;
    margin: 0 !important;
    padding: 0 !important;
    .ra_logo_fr{
        border-radius: 70px;
    }
    
    .hero{
        margin: 0 !important;
        padding: 0 !important;
        img{
            width: 100%;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
    }
    #about{
        .wrapper{
            display: flex;
        }
    }
  }



